@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@font-face { font-family: Chalk; src: url(chalktype.ttf); } 

:root {
    --primary: rgb(175,82,92);
    --secondary: rgb(92,141,170);
    --white: rgb(255, 255, 255);
    --black: rgb(46, 46, 46);
    --padding-side: 5vw;
}

* {
    font-family: 'Hachi Maru Pop', cursive;
    /* font-family: Chalk, serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    /* background-color: var(--black); */
    overflow-x: hidden;
}

body {
    background-color: var(--black);
    padding: 0 var(--padding-side);
}

body > header {
    position: relative;
    width: calc(100vw - var(--padding-side) * 2);
    text-align: center;
    margin: 30vh 0;
}

body > header p {
    font-size: 2em;
}

h1 *, h2, h3 {
    position: relative;
    font-family: Chalk, serif;
    font-weight: 800;
    text-transform: uppercase;
}

header h1 * {
    background-image: url(../img/chalk.jpg);
    /* Change URL to texture file name */
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 800;
    font-size: 3em;
}

header h1 span:first-child::after,
header h1 span:last-child::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: 10px 2px 10px 2px;
}

header h1 span:first-child::after {
    background-color: var(--secondary);
}

header h1 span:last-child::after {
    background-color: var(--primary);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section header,
section > h2,
section blockquote {
    flex: 0 0 100%;
    text-align: center;
}

section article {
    width: 400px;
    height: 200px;
}

article div {
    font-size: 2em;
}

article div::before {
    content: '€';
    font-size: 1em;
    padding-right: 0.2em;
}

article div::after {
    content: ',~';
    font-size: .6em;
    padding-left: 0.1em;
}