:root {
    --primary: rgb(255, 0, 0);
    --secondary: rgb(0, 0, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

@font-face { font-family: Chalk; src: url(chalktype.ttf); } 

* {
    font-family: Chalk, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--black);
}

header {
    position: relative;
}

header h1 * {
    background-image: url(../img/chalk.jpg);
    /* Change URL to texture file name */
    background-repeat: repeat;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 800;
    font-size: 3em;
}